.body{
  background-color: black;
}
.list-catagory{
  align-items:center;
  text-align: center;
  justify-content:center;
  width:100%;
  color:white;
  font-size: 2rem;
  border:2px solid black;
  place-items: center;
  background-color:black;
}
.list-items li{
  align-items:center;
  text-align: center;
  justify-content:center;
  width:100%;
  place-items: center;
  list-style: none;
  font-size: 1.2rem;
}
.list-items li:hover{
  color:blue;
  cursor:pointer;
}
.toDoList{
   text-align: center;
   place-items:center;
   margin-top:100px;
   font-family:Arial,sans-serif;
}
h1{
  font-size: 4rem;
}
button{
  font-size:1.7rem;
  font-weight:bold;
  padding:10px 20px;
  margin:5px;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  transition: background-color 1 ease;
}
.add-task{
  background-color:rgb(8, 168, 227);
}
.add-task:hover{
  background-color:rgb(12, 145, 185);
}
.delete{
  background-color:red;
}
.delete:hover{
  background-color:rgb(205, 15, 15);
}
.move-up{
  background-color:red;
}
.move-up:hover{
  background-color:rgb(205, 15, 15);
}
.move-down{
  background-color:red;
}
.move-down:hover{
  background-color:rgb(205, 15, 15);
}
input[type ='text']{
 font-size: 1.5rem;
 padding: 10px;
 border:1px solid rgb(178, 170, 170);
 
 color:rgb(15, 85, 145);
}
ol{
  padding:0;
  list-style: none;
}
li{
  font-size:2rem;
  font-weight:300;
  padding:10px;
  margin-bottom: 10px;
  border:2px solid rgb(200, 200, 206);
  border-radius: 5px;
  display:flex;
  flex-direction: row;
  align-items: center;
}
.the-list{ 
  flex:1;
}
.delete , .move-up , .move-down {
  margin-left:10px
}
